@model MaximaTech.Domain.Commands.Requests.ProductAddRequest
@{
    ViewData["Title"] = "Produtos";
    ViewData["Controller"] = "Product";
}
@section Header {
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Adicionar novo produto</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a asp-controller="Product" asp-action="Index" class="btn btn-sm btn-primary">
            Voltar
            <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/></svg>
          </a>
      </div>
  </div>
}
@{

   IEnumerable<MaximaTech.Core.Entities.Department> departments = ViewData["Departments"] as IEnumerable<MaximaTech.Core.Entities.Department>;
}
<form asp-action="Store" asp-controller="Product">
    <div class="form-group">
        <label asp-for="Code">Código</label>
        <input asp-for="Code" type="text" class="form-control">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Descrição</label>
        <textarea asp-for="Description" class="form-control" cols="30" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Code">Departamento</label>
        <select name="DepartmentId" class="form-control" data-department></select>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Preço</label>
        <input asp-for="Price" type="number" step="any" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
<script>
    function setupListener() {
        const url = '/api/department';
        const response = fetch(url)
            .then(response => response.json())
            .then(data => populateDepartments(data.data));
        const select = document.querySelector('[data-department]');
    }

    function populateDepartments(data) {
        const select = document.querySelector('[data-department]');
        select.innerHTML = '';
        select.insertAdjacentHTML('beforeend', `<option value="">-- Selecione --</option>`);
        data.forEach(department => select.insertAdjacentHTML('beforeend', `<option value="${department.id}">${department.name}</option>`));
    }

    setupListener();
</script>
}